{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/scheduledinfodelivery/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{% static 'css/scheduledinfodelivery/bootstrap-theme.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/scheduledinfodelivery/sign.css' %}" rel="stylesheet">
        <link href="{% static 'css/scheduledinfodelivery/theme.css' %}" rel="stylesheet">

        <!-- Tab icon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/info.png' %}"/>

        <!-- Other Stuffs Below -->
        <title>Information Deliverer</title>
    </head>
    <body>
    {{request}}
        <div class="container" role="main">
            <h1 class="display-4">
                <center>Information Deliverer Home page</center>
            </h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="text-left">
                            Logged in as <b>{{username}}</b> at {% now "SHORT_DATETIME_FORMAT" %}

                        </td>
                        <td class="text-right">
                            <a href="{% url 'logout' %}" class="btn btn-md btn-primary">Logout</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="container">
            <form class="form-signin" method="POST" action="{% url 'schedule' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{emailform.email_subject}}
                    <br> <br>
                    {{emailform.to_address}}
                    <br> <br>
                    {{infoform.info_content}}
                </div>
                <div>
                    <center>Run this program every</center>
                </div>
                <div class="input-group">
                    <div class="">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Day</span>
                            {{schedform.day}}
                        </div>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Hour</span>
                            {{schedform.hour}}
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Minute</span>
                            {{schedform.minute}}
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Second</span>
                            {{schedform.second}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <center>
                        <button class="btn btn-lg btn-primary" type="">Start Schedule</button>
                        <a href="{% url 'stopschedule' %}" class="btn btn-lg btn-primary">Stop Schedule</a>
                    </center>
                </div>
            </form>
        </div>
    <!-- Optional JavaScript if any of bootstrap to be added must be inserted just above </body> tag -->
    </body>
</html>